.catalogo{
    display: flex;
    flex-direction: column;
    h1{
        margin: 2%;
    }
    .contenedorTarjetas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 23x;
        a{
            text-decoration: none;
        }
        .tarjeta{
            text-align: center;
            &:hover{
                transform: scale(1.05);
                transition: ease-in-out 250ms;
                box-shadow: 0 0 20px 0 rgba(221, 29, 29, .7);
                    h3{
                    font-size: 2rem;
                    color: #fff;
                    position: relative;
                    bottom: 56px;
                    background-color: rgba(69, 69, 70, 0.5);
                    width: 60%;
                    left: 20%;
                    padding: 2%;
                }
            }
            img{
                width: 60%;
            }

            
        }
    }
    .Container-Index {
        margin: 5%;
        .w-100 {
            height: auto;
        }
    }
}
