.FOOTER{
    width:100%;
    text-align: center;
    color:rgba(221, 29, 29, 0.932) ;
    background-color: white ;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 20px 0 rgba(221, 29, 29, .3);
    ul{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 15px; 
        li {
        display: flex;  
        flex-direction: row;    
        }
    }
}