@media only screen and (max-width: 768px) {
    //SECCION TARJETAS CATALOGO
    .Contenedor{
        h1{
            margin: 2%;
            font-size: 2.5rem;
        }
        .contenidoTarjetas{
            .Catalogo-Menu{
                width: 20%;
            }
            .Contenido-Seccion{
                padding: 1%;
                height: 64vh;
                .Contenido-Producto{
                    width: 40%;
                }
            }
        }
    }

    //SECCION PROMOCIONES
    .promociones{
        .contenidoTarjetas{
            flex-wrap: wrap;
        }
        .contenedorLotes{
            h2{
                text-align: center;
            }
        }
        .lote{
            flex-wrap: wrap;
            justify-content: center;
        }
        .videosRopa{
            flex-wrap: wrap;
        }
        
    }

    //SECCION CATALOGO
    .catalogo{
        .contenedorTarjetas{
            flex-wrap: wrap;
        }
    }

    //SECCION CONTACTO
    .Contenido-Formulario {
        .Contacto-Grupo {
            .Contacto-Formulario {
                .form {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    //SECCION FOOTER
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 0;
        .itemFooter {
            width: 25%;
        }
    }
}

@media only screen and (max-width: 480px) {
    //SECCION TARJETAS CATALOGO
    .Contenedor{
        .contenidoTarjetas{
            flex-direction: column;
            .Catalogo-Menu{
                width: 80%;
                margin: 20px auto;
                left: 0;
            }
            .Contenido-Seccion{
                flex-direction: column;
                flex-wrap: nowrap;
                overflow: none;
                height: auto;
                .Contenido-Producto{
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
    //SECCION INICIO
    .inicio {
        .Container-Index {
            margin: 5%;
    
            .w-100 {
                height: auto;
            }
        }
    
        .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 13px 13px;
            grid-auto-flow: row;
            grid-template-areas:
                "sección1"
                "sección2"
                "sección3"
                "sección4"
                "sección5";
        }
    
        .sección1 {
            grid-area: sección1;
            .grillaInicio{
                width: 100%;
                border-radius: 15px;
            }
        }
    
        .sección2 {
            grid-area: sección2;
        }
        
        .sección3 {
            grid-area: sección3;
        }
    
        .sección4 {
            grid-area: sección4;
        }
    
    
        .sección5 {
            grid-area: sección5;
        }
    
    }

    //SECCION PROMOCIONES
    .promociones {
        h1 {
            font-size: 1.6rem;
            margin: 5% 0;
        }
    }

    //SECCION QUIENES SOMOS
    .quienesSomos {
        margin-bottom: 20%;

        .h1 {
            font-size: 2rem;
            margin: 8% 0;
        }

        .h2 {
            padding: 1%;
            margin: 8% 0;
        }

        .p {
            padding: 0 8%;
        }
    }

    //SECCION FOOTER
    .footer {
        flex-direction: column;
        gap: 15px;
        .itemFooter {
            width: 87%;
        }
    }
}

@media (min-width: 700px) {
    //SECCION CONTACTOS
    .Contenido-Formulario {
        padding: 0 4rem;
    }

    .Contacto-Grupo {
        display: grid;
        grid-template-columns: 2fr 1fr;

        >* {
            padding: 2em;
        }
    }

    .Contacto-Info {

        h4,
        ul,
        p {
            padding: 1em;
            text-align: left;
        }
    }
}