//SECCION PROMOCIONES
.promociones {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 3.2rem;
        margin-top: 2%;
    }

    h2 {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 2rem;
    }

    video {
        width: 25%;
        margin: 2%;
    }
}