//SECCION PROMOCIONES
.promociones {
    display: flex;
    flex-direction: column;
    h1{
        margin: 2%;
    }
    .contenidoTarjetas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 90px 0 90px;
        .tarjeta{
            text-align: center;
            margin: 15px;
            padding: 14px;
            &:hover{
                transform: scale(1.05);
                transition: ease-in-out 250ms;
                box-shadow: 0 0 20px 0 rgba(221, 29, 29, .7);
            }
            img{
                width: 40%;
            }
            h3{
                font-size: 2rem;
                color: rgba(221, 29, 29, 0.932);
                position: relative;
                bottom: 3px;
                background-color: rgba(69, 69, 70, 0.5);
                width: 78%;
                left: 11%;
                padding: 2%;
            }
        }
    }
    .contenedorLotes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            text-align: left;
            font-size: 2rem;
        }
        .lote{
            display: flex;
            flex-direction: row;
            .tarjeta{
                text-align: center;
                &:hover{
                    transform: scale(1.05);
                    transition: ease-in-out 250ms;
                }
                img{
                    width: 80%;
                }
            }
        }
    }

    .contenedorVideos{
        @extend .contenedorLotes;
        .videosRopa{
            @extend .lote;
        }
    }
}