.grid-container {
  display: -ms-grid;
  display: grid;
  float: left;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Titulo {
  padding: 0 1.5em;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.Contacto-Grupo {
  -webkit-box-shadow: 0 0 20px 0 rgba(221, 29, 29, 0.3);
          box-shadow: 0 0 20px 0 rgba(221, 29, 29, 0.3);
}

.Contacto-Grupo > * {
  padding: 1em;
}

.Contacto-Formulario {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  font-weight: bold;
}

.Contacto-Formulario form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.Contacto-Formulario form .Block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.Contacto-Formulario form p {
  margin: 0;
  padding: 1em;
}

.Contacto-Formulario form input,
.Contacto-Formulario form textarea,
.Contacto-Formulario form button {
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  border: none;
  background: none;
  outline: 0;
  color: black;
  border-bottom: 1px solid rgba(221, 29, 29, 0.932);
}

.Contacto-Formulario form button {
  width: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(221, 29, 29, 0.932);
  color: #fff;
  border: 0;
  padding: 1em;
}

.Contacto-Formulario form button:hover,
button:focus {
  background-color: rgba(222, 28, 28, 0.7);
  color: #000;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.Contacto-Info {
  background-color: #fff;
}

.Contacto-Info h4,
.Contacto-Info ul,
.Contacto-Info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.Contacto-Info ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.Contacto-Info ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

@media (min-width: 700px) {
  .Contenido-Formulario {
    padding: 0 4rem;
  }
  .Contacto-Grupo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .Contacto-Grupo > * {
    padding: 2em;
  }
  .Contacto-Info h4,
  .Contacto-Info ul,
  .Contacto-Info p {
    padding: 1em;
    text-align: left;
  }
}

.Menu {
  font-size: 1.1em;
  padding: 0.3em;
  color: yellow;
}

.Menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 15px;
}

.Menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Menu :hover,
.Menu :focus {
  font-size: 0.99em;
  color: rgba(222, 28, 28, 0.931);
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.Footer {
  width: 100%;
  text-align: center;
  color: rgba(221, 29, 29, 0.932);
  background-color: white;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(221, 29, 29, 0.3);
          box-shadow: 0 0 20px 0 rgba(221, 29, 29, 0.3);
}

.Footer p {
  margin: 13px;
}

.Footer p i {
  color: black;
  font-size: 20px;
  margin: 3px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Contenido-Seccion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Contenido-Seccion > * {
  padding: 2em;
}

.Catalogo-Menu {
  padding: 1.5em;
  font-weight: bold;
  background-color: #fff;
}

.Catalogo-Menu h4,
.Catalogo-Menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
}

.Catalogo-Menu h4 li,
.Catalogo-Menu ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.Contenido-Producto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (280px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 280px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1em;
}

.Producto {
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.Producto :hover {
  -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}

.Producto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.informacion {
  border-top: 1px solid #e6e6e6;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.informacion + * + {
  margin-bottom: -5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Tipo-Envio {
  background-color: #3483fa;
  color: white;
  font-weight: 600;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 0.2em;
  border-radius: 3px;
}

.Tipo-Envio .Calificacion {
  font-size: 0.8em;
}

.Precio {
  font-size: 1.5em;
}

.Precio-Envio {
  color: #00a650;
}

.Precio-Envio .Descripcion, .Precio-Envio .Ubicacion {
  font-size: 0.9em;
}

.Descripcion, .Ubicacion {
  font-weight: 300;
}

.Calificacion {
  color: #3483fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Calificacion, .Ubicacion {
  -webkit-transition-duration: 0,3s;
          transition-duration: 0,3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
}

.Calificacion > *, .Ubicacion > * {
  margin: 0;
}

.Producto :hover .Calificacion,
.Producto :hover .Ubicacion {
  opacity: 1;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Port Lligat Slab', serif;
  color: rgba(221, 29, 29, 0.932);
  background-position: center;
  background: url(../Media/fondo.jpg);
  position: relative;
  margin-bottom: 9em;
  min-height: 100vh;
}

.Contenedor {
  padding-left: 2em;
  padding-top: 4em;
}

header {
  text-decoration: none;
  font-size: 18px;
  color: black;
  width: 100%;
  background-color: white;
}

.Logo {
  float: left;
  width: 100%;
  height: 200px;
  font-size: 0;
  color: transparent;
  line-height: 0;
  background: url(../Media/Logo2.jpeg) no-repeat center center;
  background-size: auto 81%;
}

a h1 {
  font-weight: bold;
  text-align: center;
  color: rgba(221, 29, 29, 0.932);
}

/* solo para el titulo del HEADER*/
h2 {
  font-weight: bold;
  text-align: center;
  color: rgba(221, 29, 29, 0.932);
  padding: 40px;
}

h5 {
  font-weight: bold;
  text-align: center;
  color: rgba(221, 29, 29, 0.932);
  padding-bottom: 5px;
  margin-bottom: 4px;
}
/*# sourceMappingURL=estilos.css.map */