$colorbg: black;

h1{
    color: $colorbg;
}
.Container-Index{
    width: 100%;
    margin: o auto;
}
aside{
    float: left;
    width: 150px / 600px * 100%;
    height: 700px;
    background-color: white;
}
section{
    float: left;
    width: 450px / 600px *100%;
    height: 500px;
    background-color: blue;
}