@import "header";
@import "Index";
@import "Menu";
@import "Catalogo";
@import "Promociones";
@import "quienesSomos";
@import "Contacto";
@import "Footer";
@import "media";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Port Lligat Slab', serif;
    color:rgba(221, 29, 29, 0.932);
    background-position: center;
    background: url(../Media/fondo.jpg);
    
    h1{    
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold;
        text-align: center;
        font-size: 45px;
        color:rgba(221, 29, 29, 0.932); 
    } /* solo para el titulo del HEADER*/
    
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgba(221, 29, 29, 0.932);
        font-weight:bold;
        text-align: center;
        padding: 40px;
    }
    
    h5{
        width: auto;
        margin: auto;
        text-align: center;
        color: rgba(221, 29, 29, 0.932);
        font-size: 20px;
        padding-bottom: 5px;
        margin-bottom: 4px;
    }
}

